<style>
:root {
    /* see variables.scss for more variables*/

    --cover-text-color: #335b25!important;
    --highlight: var(--cover-text-color)!important;
    --highlight-contrast: white!important;
    /*inverse colors used for :hover */
    --highlight-inverse: #fbffe8!important;
    --highlight-inverse-contrast: var(--cover-text-color)!important;

    --section-light-text-color: var(--cover-text-color)!important;
    --section-light-bg-color: var(--highlight-inverse)!important;
    --section-dark-bg-color: var(--cover-text-color)!important;
    --sticky-menu-text-color: var(--cover-text-color)!important;
    --footer-color-background: var(--highlight-inverse)!important;
    --footer-color: var(--cover-text-color)!important;

     /* define list element for unnumbered lists, leave empty for default list element */
     /* fa-asterisk is the default icon if this variable definition is missing completely */
     /*--ul-li-icon: fa-dashcube;     /* this sets fa-dashcube as list icon */*/
/*     --ul-li-icon: ;                /* this sets the default html list icon */*/
}
details {
    margin-bottom: 1.2rem;
/*    font-size: 0.8em;*/
}
details > summary {
/*    margin-bottom: -1.5rem;*/
     font-size: 1.1em;
}
#blog-logo {
    max-height: 300px;
}
/*
 * Custom Top Menu Styles
 * (Using <div> and <a> to avoid <ul> conflicts)
 */

/* The main <nav> container */
.top-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 1rem;
    background-color: var(--section-light-bg-color);
    border-radius: 0 0 0 20px;
    font-family: oswald, sans-serif;
    font-weight: lighter;
}
.top-menu .top-menu-items {
    margin: 0;
    padding: 0;
    display: flex; /* Makes links horizontal */
    gap: 1rem;   /* Adds space between links */
}
.top-menu .top-menu-items .top-menu-item {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}
.top-menu .top-menu-items .top-menu-item a {
    text-decoration: none;
}
.top-menu .top-menu-items .top-menu-item a:hover {
    text-decoration: underline;
}

/* Mobile: hide the menu */
@media (max-width: 768px) {
    .top-menu {
        display: none;
    }
}
</style>

<link rel="apple-touch-icon" sizes="180x180" href='{{ "images/apple-touch-icon.png" | absURL }}?v=2'>
<link rel="icon" type="image/png" sizes="32x32" href='{{ "images/favicon-32x32.png" | absURL }}?v=2'>
<link rel="icon" type="image/png" sizes="16x16" href='{{ "images/favicon-16x16.png" | absURL }}?v=2'>
<link rel="manifest" href='{{ "images/site.webmanifest" | absURL }}?v=2' >
