{{ if .Params.is_landing }}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LWRKRDZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ end }}
<nav class="top-menu">
  <div class="top-menu-items">
    {{- range .Site.Menus.main }}
    <div class="top-menu-item">
      {{ with .Pre }}<b>{{ . }}</b> {{ end }}<a href="{{ .URL }}">{{ .Name }}{{ with .Post }} {{ . }}{{ end }}</a>
    </div>
    {{- end }}
  </div>
</nav>